.animate-switch-container ***REMOVED***
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
***REMOVED***

.animate-switch ***REMOVED***
  padding:10px;
***REMOVED***

.animate-switch.ng-animate ***REMOVED***
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
***REMOVED***

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter ***REMOVED***
  left:-50px;
***REMOVED***
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active ***REMOVED***
  top:0;
***REMOVED***

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
