.animate-switch-container {
  position:relative;
  background:white;
  overflow:hidden;
  width: 100%;
  height:auto;
  min-height: 500px;
}

.animate-switch {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active {
  top: -450px;
  opacity: 0;
}
.animate-switch.ng-enter {
  top: 450px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
.ng-animate { -webkit-animation: none 0s; }
