.browsehappy ***REMOVED***
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
***REMOVED***

body ***REMOVED***
  padding: 0;
***REMOVED***

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer ***REMOVED***
  padding-left: 15px;
  padding-right: 15px;
***REMOVED***

/* Custom page header */
.header ***REMOVED***
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
***REMOVED***
/* Make the masthead heading the same height as the navigation */
.header h3 ***REMOVED***
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
***REMOVED***

/* Custom page footer */
.footer ***REMOVED***
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
***REMOVED***

.container-narrow > hr ***REMOVED***
  margin: 30px 0;
***REMOVED***

/* Main marketing message and sign up button */
.jumbotron ***REMOVED***
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
***REMOVED***
.jumbotron .btn ***REMOVED***
  font-size: 21px;
  padding: 14px 24px;
***REMOVED***

/* Supporting marketing content */
.marketing ***REMOVED***
  margin: 40px 0;
***REMOVED***
.marketing p + h4 ***REMOVED***
  margin-top: 28px;
***REMOVED***

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) ***REMOVED***
  .container ***REMOVED***
    max-width: 730px;
  ***REMOVED***

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer ***REMOVED***
    padding-left: 0;
    padding-right: 0;
  ***REMOVED***
  /* Space out the masthead */
  .header ***REMOVED***
    margin-bottom: 30px;
  ***REMOVED***
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron ***REMOVED***
    border-bottom: 0;
  ***REMOVED***
***REMOVED***

#url ***REMOVED*** width: 250px ***REMOVED***
table, th, td ***REMOVED*** border: 1px solid black; text-align: center; ***REMOVED***
#th_source ***REMOVED*** width: 150px; ***REMOVED***
#th_author ***REMOVED*** width: 250px; ***REMOVED***
#th_title ***REMOVED*** width: 500px; ***REMOVED***
.error ***REMOVED*** color: red; ***REMOVED***
