.browsehappy ***REMOVED***
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
***REMOVED***

body ***REMOVED***
  padding: 0;
***REMOVED***

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer ***REMOVED***
  padding-left: 15px;
  padding-right: 15px;
***REMOVED***

/* Make the masthead heading the same height as the navigation */
.header h3 ***REMOVED***
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
***REMOVED***

.navbar ***REMOVED***
  margin-bottom: 0px !important;
***REMOVED***
/* Custom page footer */
.footer ***REMOVED***
  margin-top: 25px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
***REMOVED***

.container-narrow > hr ***REMOVED***
  margin: 30px 0;
***REMOVED***

/* Main marketing message and sign up button */
.jumbotron ***REMOVED***
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
***REMOVED***
.jumbotron .btn ***REMOVED***
  font-size: 21px;
  padding: 14px 24px;
***REMOVED***

/* Supporting marketing content */
.marketing ***REMOVED***
  margin: 40px 0;
***REMOVED***
.marketing p + h4 ***REMOVED***
  margin-top: 28px;
***REMOVED***

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) ***REMOVED***
  .container ***REMOVED***
    max-width: 800px;
  ***REMOVED***

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer ***REMOVED***
    padding-left: 0;
    padding-right: 0;
  ***REMOVED***
  /* Space out the masthead */
  .header ***REMOVED***
  ***REMOVED***
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron ***REMOVED***
    border-bottom: 0;
  ***REMOVED***
***REMOVED***

h1,h2,h3 ***REMOVED*** text-align: center; ***REMOVED***
#url ***REMOVED*** width: 350px ***REMOVED***
.error ***REMOVED*** color: red; ***REMOVED***
.fa-times ***REMOVED*** position:absolute; right: 5px; padding-left: 5px; ***REMOVED***
.add_gene_container ***REMOVED***
  text-align: center;
***REMOVED***
.gene_container ***REMOVED***
  background-color: #eaeaea;
  border-radius: 8px; border: 1px solid darkgray;
  margin: 6px;
  height: 65px;
  width: 277px;
***REMOVED***
.gene_info ***REMOVED***
  position: absolute;
  top: 0px;
  left: 22px;
  text-align: center;
***REMOVED***
.gene_title ***REMOVED***
  font-size: 16px;
  font-weight:bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 230px;
***REMOVED***
.gene_source ***REMOVED*** font-style: italic; text-overflow: ellipsis; ***REMOVED***
.col-sm-4 ***REMOVED*** padding-left: 5px; padding-right: 5px; ***REMOVED***

#config_options ***REMOVED***
  border: 1px solid grey;
  border-radius: 8px;
  width: 400px;
  margin: auto;
  background-color: #ececec;
***REMOVED***
#config_title ***REMOVED***
  text-align: center;
***REMOVED***

#mutate_button ***REMOVED***
  width: 100px;
  margin: 10px auto 10px auto;
  display: block;
***REMOVED***
#mutant_book ***REMOVED***
  width: 800px;
***REMOVED***
.b-page, .b-wrap ***REMOVED***
  width: 400px;
***REMOVED***
label ***REMOVED***
  font-weight: normal;
***REMOVED***
.fa-arrow-left,.fa-arrow-right ***REMOVED***
  font-size:30px;
***REMOVED***
.ng-image-gallery.inline, .ng-image-gallery-modal ***REMOVED***
  height: 550px !important;
***REMOVED***
.statement p ***REMOVED***
  margin: 5px 60px 15px 60px;
  font-size: 15px;
***REMOVED***
.carousel-content ***REMOVED***
  color:black;
  display:flex;
  align-items:center;
***REMOVED***
.about ***REMOVED***
  margin: 15 px 30px 15px 30px !important;
***REMOVED***
.row ***REMOVED***
  width: 80%;
  margin: 0 auto;
***REMOVED***
.nav ***REMOVED***
  margin-left: 200px;
***REMOVED***
.profilePic ***REMOVED***
  width: 346px;
  margin: 0 auto;
  padding: 15px 0px 15px 0px
***REMOVED***
