<div id="config_options">
  <p>To generate text, books are broken down into "n-grams." or clumps of one to three words, before these are recombined.</p>
    <div id="ngram_size">
      <label><input type="radio" name="ngram_size" value="1">1 word</label>
      <label><input type="radio" name="ngram_size" value="2">2 words</label>
      <label><input type="radio" name="ngram_size" value="3" checked>3 words</label>
    </div>
  <p>Shorter n-grams produce more anarchic samples of text, while longer ones tend to generate better grammar and continuity.</p>
</div>
