<div class="about_header">
  <h1>Corey Bobco</h1>
  <h4>Also on
    <a target="_blank" href="http://github.com/coreybobco"><i class="fa fa-github fa-5" aria-hidden="true"></i></a> and
    <a target="_blank" href="https://www.linkedin.com/in/corey-bobco-94a3b9109"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a></h4>
</div>

<div class="statement">
  <div class="profilePic">
    <img ng-src="***REMOVED******REMOVED***image***REMOVED******REMOVED***">
  </div>

  <p>I am a web application developer with 2 years of professional experience in an agile, team-based corporate environment currently
  seeking opportunities in the greater Austin area.</p>

  <p>On this site you w1ll find a <a ng-href="#/mutagen">text generator</a> that allows you to mix and match together books from Project Gutenberg's library
  and randomly generate text from their corpora with some customization options.</p>

  <p>You can also check out my visual series <a ng-href="#/art">If Who Painted What</a>, which I created using existing machine learning algorithms for artistic style transfer.

  <p>To view my contact information, please download my <a download="coreybobco_resume.docx" ng-href="***REMOVED******REMOVED***fileUrl***REMOVED******REMOVED***">resumé</a>.</p>
</div>
