<h1>If Who Painted What</h1><br>

<ng-image-gallery
  images="images"
  titles="titles"
  methods="methods"
  conf="conf"
  inline="true"
  bubbles="bubbles"
  img-bubbles="imgBubbles"
  bg-close="bgClose"
  on-open="opened();"
  on-close="closed();"
  bg-close="false">
</ng-image-gallery>

<div class="statement">
  <p>Recent developments in the realm of machine learning call into question
    our assumptions about the artistic capacity of artificial intelligence and the inseparable link
    we perceive between an artist's singular style and their sentient mind and body.</p>

   <p>This series, produced using
     <a href="https://github.com/jcjohnson/neural-style">Justin Johnson's "neural style" algorithm</a>,
    explores how paintings and photographs might appear if re-rendered by famous visual artists
    brought back from the dead.</p>
  </p>
</div>
