<div class="gene_container col-sm-4" ng-repeat="gene in genes">
  <label><input type="checkbox"></label>
  <span>
    <i class="fa fa-times" aria-hidden="true"></i><br>
    <div class="gene_info">
      <div class="gene_title">***REMOVED******REMOVED***gene.title***REMOVED******REMOVED***</div>
      <div class="gene_author">***REMOVED******REMOVED***gene.author***REMOVED******REMOVED***</div>
      <div class="gene_source">***REMOVED******REMOVED***gene.source***REMOVED******REMOVED***</div>
    </div>
  </span>
</div>
