<div ng-controller="MainCtrl">
<h1>Markov Mutagen</h1>
<h3>Mix together entire books and randomly generate text from their more interesting* sentences.</h3>
<div class="outer_container">
  <p>Add a book to the mutation chamber by pasting its Project Gutenberg URL below.</p>
  <label>url:<input id="url"/></label>
  <button id="add_document_button" ng-click="addBook()">Add Book</button>
  <div id="url_error" class="error"></div>
</div>

<div id="mutation_chamber" class="container-fluid">
  Mutation Chamber
  <div class="row">
    <ng-include src="'views/chamber.html'"></ng-include>
  </div>
  <button id="mutate_button" disabled>Mutate</button>
</div>
