<ng-controller="MainCtrl">
<h1>Markov Mutagen</h1>
<h3>Combine and mutate books into randomly generated bodies of text. </h3>
<div class="add_gene_container">
  <form name="addGeneForm" ng-submit="addGeneForm.$valid && addGene()">
    <p>Add a book's genetic components by pasting its Project Gutenberg URL below.</p>
    <label><input id="url" name="url" ng-model="url" ng-pattern="/gutenberg.org\/(?:files|ebooks|epub|etext)\/(\d+)/"/></label>
    <input id="add_gene_button" type="submit" value="Add">  <button type='button' ng-click="addGene('random')">Random</button>
    <div class="error" ng-show="addGeneForm.url.$error.pattern">Not a valid Project Gutenberg URL</div>
  </form>
</div>

<div id="mutation_chamber" class="container-fluid">
  <div class="row">
    <ng-include src="'views/chamber.html'"></ng-include>
  </div>
</div>

<div id="config_options">
  <h4 id="config_title">Options</h4>
  Structure:
  <label><input type="radio" name="structure" value="story" checked>Story</label>
  <label><input type="radio" name="structure" value="poems">Poems</label><br>
  <label><input id="purge_mode" type="checkbox" checked/>Purge fluff sentences from books before text generation</label>
  <label>Purge Ratio (higher = more):<input id="purge_ratio" type="number" min="0" max=".95" value=".6"/></label><br>
  Block Length:<br>
  <label><input type="radio" name="block_length" value="1">1</label>
  <label><input type="radio" name="block_length" value="2" checked>2</label>
  <label><input type="radio" name="block_length" value="3">3</label>
  <label><input type="radio" name="block_length" value="4">4</label><br>
</div>
<button id="mutate_button" disabled ng-click="mutate()">Mutate</button>

<div id="mutant_book">
  <div ng-attr-id="page***REMOVED******REMOVED***$index***REMOVED******REMOVED***" ng-repeat="n in [] | range:15">
    <p></p>
  </div>
</div>
</ng-controller>
