<ng-controller="MainCtrl">
<h1>Markov Mutagen</h1>
<h3>Combine and mutate books into randomly generated hybrid books.</h3>
<div class="add_gene_container">
  <form name="addGeneForm" ng-submit="addGeneForm.$valid && addGene()">
    <h4>Add a book's genetic components by pasting its Project Gutenberg URL below.</h4>
    <label><input id="url" name="url" ng-model="url" ng-pattern="/gutenberg.org\/(?:files|ebooks|epub|etext)\/(\d+)/"/></label>
    <input id="add_gene_button" type="submit" value="Add">  <button type='button' ng-click="addGene('random')">Random</button>
    <div class="error" ng-show="addGeneForm.url.$error.pattern">Not a valid Project Gutenberg URL</div>
  </form>
</div>

<div id="mutation_chamber" class="container-fluid">
  <div class="row">
    <ng-include src="'views/chamber.html'"></ng-include>
  </div>
</div>

<div id="config_options">
  <div id="config_title"><font size="5">Options</font> (hover for more info)</div>
  <!--Structure:-->
  <!--<label><input type="radio" name="structure" value="story" checked>Story</label>-->
  <!--<label><input type="radio" name="structure" value="poems">Poems</label><br>-->
  <span data-toggle="tooltip" title="how big the clumps of words the textgen rips from the books are (1 word, 2 words together, etc.)">N-gram Length:
  <label><input type="radio" name="block_length" value="1">1</label>
  <label><input type="radio" name="block_length" value="2" checked>2</label>
  <label><input type="radio" name="block_length" value="3">3</label>
  <label><input type="radio" name="block_length" value="4">4</label></span><br>
  <label data-toggle="tooltip" title="sentences predominantly composed of conjunctions, prepositions, pronouns, and other less semantically relevant parts of speech">
    <input id="purge_mode" ng-model="purge_mode" ng-change="toggleFilterRatio()" type="checkbox"/>Filter out less semantically relevant sentences (slower)</label><br>
  <label id="label_purge_ratio" class="check-element animate-show" ng-show="purge_mode" data-toggle="tooltip">
    -Tweak filter level (higher = stricter)
    <input id="purge_ratio" type="number" min=".1" max=".9" value=".6" step=".05"/></label><br>
</div>
<h4>Books will spawn below after processing. You can flip the pages to continue reading.</h4>
<button id="mutate_button" disabled ng-click="mutate()">Spawn Mutant Book</button>

<div id="mutant_book">
  <div ng-attr-id="page***REMOVED******REMOVED***$index***REMOVED******REMOVED***" ng-repeat="n in [] | range:15">
    <p></p>
  </div>
</div>
</ng-controller>
