<p class="toplinks center">
  <a target="_blank" href="http://github.com/coreybobco/setlist-spy"><i class="fa fa-github fa-5" aria-hidden="true"></i></a>
  <a target="_blank" href="http://coreybob.co"><i class="fa fa-user fa-5" aria-hidden="true"></i></a>
  <a target="_blank" href="http://coreybob.co/#/art"><i class="fa fa-paint-brush fa-4" aria-hidden="true" style="font-size:16px"></i></a>
</p>
<h1>Setlist Spy</h1>

<div class="logo">
    <img ng-src="***REMOVED******REMOVED***image***REMOVED******REMOVED***">
</div>

<h4>ID <strong>every</strong> track a DJ has <strong>ever</strong> played.</h4>
<p class="center">Ok, actually just ones already ID'd in recorded sets</p>

<div class="center">
  <form name="setlistSearchForm" ng-submit="setlistSearchForm.$valid && setlistSearch()" ng-hide="loading" ng-show="!loading">
        <label><input id="input_setlist_search" name="search" placeholder="Enter a DJ name here" ng-model="text" ng-pattern="/\S***REMOVED***2,***REMOVED***/"/></label>
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <div class="error" ng-show="addGeneForm.url.$error.pattern">Not a valid URL</div>
  </form>
  <i id="spinner" class="fa fa-spinner fa-spin" ng-hide="!loading" ng-show="loading"></i>
</div>

<div class="animate-switch-container" ng-switch="page">
      <div class="animate-switch odd" ng-switch-when="odd">
        <ul>
          <li ng-repeat="track in tracks">***REMOVED******REMOVED***track***REMOVED******REMOVED***</li>
        </ul>
      </div>
      <div class="animate-switch even" ng-switch-when="even">
        <ul>
          <li ng-repeat="track in tracks">***REMOVED******REMOVED***track***REMOVED******REMOVED***</li>
        </ul>
      </div>
      <div class="animate-switch" ng-switch-default></div>
</div>
