<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-content">
            <div>
              <h3>#1</h3>
              <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content">
            <div>
              <h3>#2</h3>
              <p>This is another much longer item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content">
            <div>
              <h3>#3</h3>
              <p>This is the third item.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Controls --> <a class="left carousel-control" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
  <a class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
